// Colors
$white:         #ffffff;
$gray:          #D6D6D6;
$black:         #000000;

$light-text:    #858585;
$dark-text:     #424242;

$light-blue:    #155BCC;
$dark-blue:     #164FAC;

$accent:        #2FDA7F;
$background:    #FAFAFA;
$search:        #F5F5F5;

// Fonts
$main-font:    'Roboto';
$second-font:  'Lato';
$main-weight:   300;


