@import 'reset';
@import 'variables';
@import 'typography';
@import 'reset';
@import 'base';

@media (min-width: 1200px) {
    .container-xl {
        max-width: 1600px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

    }
}


body {
    background-color: $background;
}

.main-navbar {
    padding: 32px 0;

    .navbar-brand {
        font-family: $main-font;
        color: $logo-text;
        font-size: 24px;
        line-height: 28px;
    }
}

.navbar-nav {
    .nav-item {
        a {
            font-family: $main-font;
            color: $dark-text !important;
            font-size: 14px;
            line-height: 16px;
            font-weight: 700;
        }

        a:hover {
            color: $light-blue !important;
        }
    }
}

.light-card {
    background-color: $light-blue;

    .card-title {
            color: $white;
            font-weight: 700;
            font-family: $main-font;
            font-size: 16px;
            margin: 0;
    }

    .card-text {
        p {
            color: $white;
            font-weight: 400;
            font-family: $second-font;
            font-size: 13px;
            margin: 0;
        }
    }
}

.main-page{
    padding-top: 70px;
}

.product-card{
    .card-title{
        font-weight: 700;
        font-family: $main-font;
        font-size: 18px;
        color: $dark-text;
    }
    .card-text {
            color: $light-text;
            font-weight: 400;
            font-family: $main-font;
            font-size: 12px;
    }
}
.main-card{
    width: 260px;
    height: 370px;
}