/* _-_-_- base/RESET -_-_-_ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* _-_-_- base/RESET -_-_-_ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body {
  font-family: "Roboto";
  font-weight: 300;
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1600px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

body {
  background-color: #FAFAFA;
}

.main-navbar {
  padding: 32px 0;
}

.main-navbar .navbar-brand {
  font-family: "Roboto";
  color: #6E6E6E;
  font-size: 24px;
  line-height: 28px;
}

.navbar-nav .nav-item a {
  font-family: "Roboto";
  color: #424242 !important;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.navbar-nav .nav-item a:hover {
  color: #155BCC !important;
}

.light-card {
  background-color: #155BCC;
}

.light-card .card-title {
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto";
  font-size: 16px;
  margin: 0;
}

.light-card .card-text p {
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  font-size: 13px;
  margin: 0;
}

.main-page {
  padding-top: 70px;
}

.product-card {
  height: 500px;
  width: 215px;
}

.product-card img {
  height: 215px;
  width: 215px;
}

.product-card .card-title {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 18px;
  color: #424242;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.product-card .card-text {
  color: #858585;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.product-card .price-product {
  position: absolute;
  bottom: 10px;
}

.main-card {
  width: 260px;
  height: 370px;
}
/*# sourceMappingURL=main.css.map */