/* _-_-_- base/RESET -_-_-_ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* _-_-_- base/RESET -_-_-_ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body {
  font-family: "Roboto";
  font-weight: 300;
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1600px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

body {
  background-color: #FAFAFA;
}

.main-navbar {
  padding: 32px 0;
}

.main-navbar .navbar-brand {
  font-family: "Roboto";
  color: #6E6E6E;
  font-size: 24px;
  line-height: 28px;
}

.navbar-nav .nav-item a {
  font-family: "Roboto";
  color: #424242;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.navbar-nav .nav-item a:hover {
  color: #155BCC;
}

.light-card {
  background-color: #155BCC;
}

.light-card .card-title {
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto";
  font-size: 16px;
  margin: 0;
}

.light-card .card-text p {
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  font-size: 13px;
  margin: 0;
}

.main-page {
  padding-top: 70px;
}

.product-card {
  height: 500px;
  width: 215px;
}

.product-card img {
  height: 215px;
  width: 215px;
}

.product-card .card-title {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 18px;
  color: #424242;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.product-card .card-text {
  color: #858585;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.product-card .price-product {
  position: absolute;
  bottom: 10px;
}

.main-card {
  width: 260px;
  height: 370px;
}

.add-cart {
  width: 100%;
  text-decoration: none !important;
  color: #155BCC;
  background-color: #D6D6D6;
  cursor: pointer;
  text-align: center;
}

.navlink-active {
  color: #155BCC !important;
}

.main-about-page {
  padding-top: 100px;
  width: 660px;
}

.main-about-page .middle-box {
  background-color: #ffffff;
  padding: 60px 100px;
}

.main-about-page .middle-box .title-section {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 24px;
  color: #424242;
  margin: 0;
}

.main-about-page .middle-box p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #6E6E6E;
  margin: 0;
  text-align: justify;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */